@model SeeSpot.ViewModels.AddPetViewModel
@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;
<h1>Add Pet</h1>

<form asp-controller="Pet" enctype="multipart/form-data" asp-action="Add" method="post">
    @if (signInManager.IsSignedIn(User))
    {
        // Get the current logged in user
        Task<ApplicationUser> GetCurrentUserAsync() => userManager.GetUserAsync(User);

        var user = await GetCurrentUserAsync();
        var Id = user.Id;

        <input asp-for="OwnerId" type="hidden" value="@Id">

    }
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender"></label>
        <input class="form-control" asp-for="Gender" />
        <span asp-validation-for="Gender"></span>
    </div>
    <div class="form-group">
        <label asp-for="Weight"></label>
        <input class="form-control" asp-for="Weight" />
        <span asp-validation-for="Weight"></span>
    </div>

    <div class="form-group">
        <label asp-for="BreedName"></label>
        <select asp-for="BreedName" asp-items="Model.Breeds"></select>
    </div>
    <div class="form-group">
        <label asp-for="Birthday"></label>
        <input class="form-control" asp-for="Birthday" />
        <span asp-validation-for="Birthday"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fixed"></label>
        <input class="form-control" asp-for="Fixed" />
        <span asp-validation-for="Fixed"></span>
    </div>
    <div>
        @Html.DropDownListFor(m => m.Fixed, new SelectList(
        new[] {
            new { Value = "true", Text = "YES" },
            new { Value = "false", Text = "NO" },
        },
        "Value",
        "Text"
    ))
    </div>
    <div class="form-group">
        <label asp-for="Microchipped"></label>
        <input class="form-control" asp-for="Microchipped" />
        <span asp-validation-for="Microchipped"></span>
    </div>
    <div class="form-group">
        <label asp-for="Color"></label>
        <input class="form-control" asp-for="Color" />
        <span asp-validation-for="Color"></span>
    </div>

    <div class="custom-file">

        <input asp-for="Photo" class="form-control custom-file-input">
        <label class="custom-file-label">Choose File...</label>

    </div>

    <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                })
            });
        </script>
    }
</form>
