@model List<SeeSpot.Models.Pet>

<h1>Pets</h1>
<a asp-controller="Pet" asp-action="Add">Add</a>&nbsp;&nbsp;
@*<a asp-controller="Pet" asp-action="Remove">Remove</a>*@
@if (Model.Count == 0)
{
    <p>No Pets yet!</p>
}
@foreach (var pet in Model)
{
    var photoPath = "~/images/" + (pet.PhotoPath ?? "noimage.jpg");
    <h2>@pet.Name</h2>
    <img src="@photoPath" asp-append-version="true" />

}
