@model List<SeeSpot.Models.Breed>
@{
    ViewData["Title"] = "Index";
}

<h2>Breeds</h2>
<ul>

    @foreach (var breed in Model)
    {
        <li>@breed.Name</li>
    }




</ul>
<p><a asp-controller="Breed" asp-action="Add">Add Breed</a>&nbsp;&nbsp;<a asp-controller="Breed" asp-action="Delete">Remove Breed</a></p>
